.container {
	background-color: white;
	font-size: 18px;
	line-height: 2;
	max-width: 1920px;
	align-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 0;
}

.main {
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 1rem;
	padding-top: 0;
}

.textJustified {
	text-align: justify;
	margin: 1rem;
}

.highlights {
	color: rgb(255, 84, 0);
}

.h1 {
	font-size: 2.5rem;
	text-align: center;
	margin: 0.5rem;
}
.h2 {
	font-size: 2.2rem;
	text-align: center;
	margin: 0.5rem;
}

.h3 {
	font-size: 2rem;
	text-align: center;
	margin: 0.5rem;
}
.h4 {
	font-size: 1.5rem;
	text-align: center;
	margin: 0.5rem;
}
.h5 {
	font-size: 1.2rem;
	text-align: center;
	margin: 0.5rem;
}

.h6 {
	font-size: 1rem;
	text-align: left;
	margin: 0.5rem;
}

.wrapper {
	padding: 2rem 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	overflow: hidden;
}

.card {
	background-color: white;
	padding-top: 2rem;
	padding-bottom: 1rem;
	width: 500px;
	text-align: center;
	border-radius: 10px;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
		rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.card:hover {
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	border: 1px solid rgb(240, 240, 240);
	box-shadow: rgba(14, 30, 37, 0.9) 0px 2px 4px 0px,
		rgba(14, 30, 37, 0.9) 0px 2px 16px 0px;
}

@media (max-width: 600px) {
	.card {
		width: 92%;
		min-height: 150px;
	}
}
